{% extends 'base.html.twig' %}

{% block title 'Library' %}

{% block body %}
    <div class="container">
        <h1> My library</h1>
        <p>Book 1 : Your lie in april</p>
    </div>

{% endblock %}
